.cdash_form label {
	display: block;
}

.cdash_form input[type="text"],
.cdash_form input[type="email"],
.cdash_form input[type="password"] {
	width: 90%;
}

#business-picker .alert {
	margin: 10px;
	padding: 20px;
	border: 1px solid #B90504;
}

#member_registration_form .explain {
	font-size: .9em;
	font-style: italic;
}

.cdash_form .ui-state-error {
	box-shadow: 0px 0px 5px #B90504;
}

.cdash_form.loading:after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('ajax-loader.gif') center center no-repeat rgba(255,255,255,.6);
	z-index: 1000;
}

